.App {
  text-align: center;
}

body {
  height: 101px;
}

.col-9 {
   height: 150em;
}

.test {
  border-left: #c9c5c5 solid 2px;
  /* padding-right: 2em; */
}

.test1 {
  padding-top: 4em;
  position: fixed;
    /* overflow-y:auto; */
  /* box-sizing: border-box; */
  /* padding-right: 2em; */
}

.list-group-item {
  border: 0 !important;
  /* width: 28px !important; */
}

.book-list{
  padding-top: 3em;
}
.nav {
  position: fixed !important;
  top: 0 !important;
  background-color: black !important;
  color: aqua !important;
}

.dark {
  background-color: black !important;
}

.cart {
  margin-left: 1%;
  /* color: rgb(73,160,181) !important; */
}

.cartdiv {
  border-left: #c9c5c5;
}

.colorfy {
  color: rgb(45,125,246) !important;
}

.items {
  border-bottom: 2px solid #c9c5c5;
  /* padding-bottom: 1em; */
}

.submit {
  /* padding-top: 2em; */
  margin-top: 2em;
}

.display {
  height: 20% !important;
  overflow-y:auto;
}

.basket {
  display: flex;
  flex-direction: row
}

.top {
  padding-bottom: 1px !important; 
}

.bottom {
  padding-top: 1px !important;
  color: #817e7e !important;
}

.mr-auto {
  background-color: black !important;
}